<div class='container'>
  <div class='row'>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
    <h1 class=>さいとまっぷ</h1>
    <h3>怪談</h3>
    <p>怪談を閲覧するページです。<br>怖かったらいいねをおしてあげてください</p>
    <h3>質問掲示板</h3>
    <p>思い出せない怪談を質問するページです。<br>知っていたら教えてあげてください</p>
  </div>
</div>